.analysis-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
   padding: 20px;
   width: 100%;
   position: relative;
}

.analysis-block {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   max-width: 400px;
   box-sizing: border-box;
   height: fit-content;
   position: relative;
}

.analysis-header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}

.dropdown-arrow {
   background: none;
   border: none;
   cursor: pointer;
   font-size: 1.5rem;
   color: #000;
   transition: transform 0.3s ease-in-out; 
}

.arrow-up {
   transform: rotate(180deg);
}

h2 {
   font-size: 1.4rem;
   margin-bottom: 5px;
}

.location {
   font-size: 0.85rem;
   color: gray;
   margin-bottom: 5px;
}

.bar {
   margin: 8px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.progress {
   background-color: #f0f0f0;
   border-radius: 5px;
   height: 10px;
   width: 85%;
   margin-right: 10px;
}

.progress-value {
   background-color: black;
   height: 100%;
   border-radius: 5px;
}

.savings {
   font-size: 1.1rem;
   color: green;
   margin-top: 8px;
}

button.best-choice {
   background-color: #fff;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   font-weight: bold;
   margin-top: 10px;
   width: 100%;
   box-sizing: border-box;
}

.store-info-popup {
   position: fixed; 
   bottom: 0; 
   background-color: #fff;
   border-top: 1px solid #ccc;
   padding: 20px;
   box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
   z-index: 100;
   width: 100%; 
   max-width: 100%;
   animation: slide-up 0.4s ease-in-out; 
}

@keyframes slide-up {
   from {
      transform: translateY(100%);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slide-down {
   from {
      transform: translateY(0);
      opacity: 1;
   }
   to {
      transform: translateY(100%);
      opacity: 0;
   }
}

.store-info-popup.exit {
   animation: slide-down 0.4s ease-in-out;
}

.store-info-popup h2 {
   margin-bottom: 10px;
   font-size: 1.5rem;
}

.store-info-popup p {
   font-size: 1.1rem;
   color: #333;
}