.analysis-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
   padding: 20px;
   width: 100%;
   position: relative;
}

.analysis-block {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   max-width: 400px;
   box-sizing: border-box;
   height: fit-content;
   position: relative;
}

.analysis-header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}

.dropdown-arrow {
   background: none;
   border: none;
   cursor: pointer;
   font-size: 1.5rem;
   color: #000;
   transition: transform 0.3s ease-in-out; 
}

.dropdown-arrow:focus {
   outline: none;
}

.arrow-up {
   transform: rotate(180deg);
}

h2 {
   font-size: 1.4rem;
   margin-bottom: 5px;
}

.location {
   font-size: 0.85rem;
   color: gray;
   margin-bottom: 5px;
}

.bar {
   margin: 8px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.progress {
   background-color: #f0f0f0;
   border-radius: 5px;
   height: 10px;
   width: 85%;
   margin-right: 10px;
}

.progress-value {
   background-color: black;
   height: 100%;
   border-radius: 5px;
}

.savings {
   font-size: 1.1rem;
   color: green;
   margin-top: 8px;
}

.instacart-supported {
   font-size: 1.1rem;
}

.instacart-supported.yes {
   color: green;
}

.instacart-supported.no {
   color: red;
}

button.best-choice {
   background-color: #fff;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   font-weight: bold;
   margin-top: 10px;
   width: 100%;
   box-sizing: border-box;
   transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
button.best-choice:hover {
   background-color: #eee; 
   transform: translateY(-2px); 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button.best-choice:focus {
   outline: none;
}

.store-info-popup {
   position: fixed; 
   bottom: 0; 
   background-color: #fff;
   border-top: 1px solid #ccc;
   padding: 20px;
   box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
   z-index: 100;
   width: 80vw;   
   animation: slide-up 0.4s ease-in-out; 
   transition: all 0.4s;
   max-height: 80vh; /* Prevent overflow if there are too many items */
   overflow-y: auto; /* Enable scrolling if content exceeds height */
}

@keyframes slide-up {
   from {
      transform: translateY(100%);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slide-down {
   from {
      transform: translateY(0);
      opacity: 1;
   }
   to {
      transform: translateY(100%);
      opacity: 0;
   }
}

.store-info-popup.exit {
   animation: slide-down 0.4s ease-in-out;
}

.store-info-popup h2 {
   margin-bottom: 10px;
   font-size: 1.5rem;
}

.store-info-popup p {
   font-size: 1.1rem;
   color: #333;
}

.store-info-popup .sub-info {
   display: flex;
   justify-content: space-between; 
   align-items: center; 
   width: 100%;
   margin-bottom: 20px; 
}

.store-info-popup .sub-info p {
   margin: 0; 
}

.items-grid {
   display: flex;
   flex-wrap: wrap; /* Allow items to wrap to the next line */
   gap: 15px; /* Set a gap between items */
}

.item-card {
   background-color: #f9f9f9;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 15px;
}



.item-card p {
   margin: 0;
   margin-right: 5px;
   font-size: 1.1rem;
   font-weight: 500;
}

.price {
   background-color: #eee;
   padding: 5px 10px;
   border-radius: 12px;
   font-weight: bold;
}

.unavailable {
   background-color: #e74c3c;
   color: white;
   padding: 5px 10px;
   border-radius: 12px;
   font-weight: bold;
   display: flex;
   align-items: center;
}

.unavailable span {
   margin-right: 5px;
}

.available {
   display: flex; 
   align-items: center; 
   gap: 10px;
}

.externalLink {
   background-color: #eee;
   padding: 5px 10px;
   border-radius: 12px;
   font-weight: bold;
   cursor: pointer;
}

.externalLink a {
   color:#000
}
