.content {
   width: 80vw;
   height: 100vh;
   padding: 10px 20px;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible columns */
   grid-template-rows: repeat(auto-fit, minmax(360px, 1fr)); /* Flexible rows */
   gap: 20px;
   position: fixed;
   left: 20%;
   top: 65px;
   z-index: 0;
   overflow: auto;

   background-color: rgb(255, 255, 255);
   transition: all 0.4s;
}