/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card {
  flex-shrink: 0;
  position: relative;
  height: 300px;
  width: 250px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Adjust shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.store-logo {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-logo-img {
  max-height: 100%;
  max-width: 100%;
}

.product-img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 5px;
  word-wrap: break-word;
  width: 100%;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
}


.product-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  position: relative;
}

.product-card img {
  height: 150px;
  max-width: 80%;
}

.product-card .info {
  padding: 15px;
}

.product-card .info h3 {
  font-size: 22px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-weight: bold;
}

.product-card .info p {
  font-size: 20px;
  margin-bottom: 2px;
  line-height: 1.2;
  color: #333;
}






.add-button {
  width: 30px; /* Adjust width to make the button smaller */
  height: 30px; /* Adjust height to make the button smaller */
  position: absolute;
  top: 10px; /* Position the button 10px from the top */
  right: 10px; /* Position the button 10px from the right */
  background-color: #4285f4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  outline: none;
}

.add-button::before, .add-button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.add-button::before {
  width: 60%;
  height: 10%;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}

.add-button::after {
  width: 10%;
  height: 60%;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}

.add-button:hover, .add-button:focus {
  background-color: #4c8ef9; 
}

.add-button:hover::before, .add-button:hover::after {
  animation: spin 0.3s ease-in-out forwards;
}

.add-button:focus {
  outline: none;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.add-button.checked:hover::before, .add-button.checked:hover::after {
  animation: none;
}

.add-button.checked::before {
  width:8px;
  height: 4px;
  border-radius: 5px  ;
  transform: translate(-8px,2px) rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.add-button.checked::after {
  width: 4px; 
  height: 60%;
  border-radius: 5px;
  transform: translate(1px, -8px) rotate(45deg);
  transition: transform 0.3s ease-in-out;
}