.search {
  display: flex;
  position: relative;
  place-content: center;
  text-align: center;
  height: 48.75px;
  width: 100%;
}

.search__clear {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;

  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
}

.search__clear:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  color: #646464;
  padding: 0.7rem 1rem;
  padding-right: 70px;
  border-radius: 30px;
  height: 100%;
  width:100%;
  min-width: 200px;
  transition: all ease-in-out .5s;
}

.search__button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  border-left: 0.2px solid rgb(219, 219, 219);
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all ease-in-out .5s;
  height: 100%;
  padding: 0.7rem 1rem;
  
  position: absolute;
  z-index: 1;
  right: 0;
}

.search__input:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.search__input:focus {
  outline: none;
  box-shadow: none;
  background-color: #f0eeee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #7f7d7d;
}


.search__input:focus + .search__button:hover,
.search__button:hover {
  cursor: pointer;
  background-color: #e8e8e8f9
}

.search__button:focus {
  outline:none;
  background-color: transparent;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #828282;
}