.navbar {
   height: 65px;
   width: 100%;
   position: fixed;
   padding:0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto; 
 }

 .left,.right,.middle {
   display: flex;
 }

.left {
   flex: 1;
   height: 100%;
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin:0;
   padding: 0 20px;
}

.left img {
   margin-right: 10px; /* Adjust margin as needed to push the content closer to the center */
 }

.middle  {
   height: 100%;
   flex: 2;
   justify-content: center;
   align-items: center;
   margin: 0;

}

.right {
   flex: 1;
   height: 100%;
   justify-content: flex-end;
   margin:0;

   background-color: rgb(10, 30, 30);
}

.right div:hover {
   text-decoration: underline; /* Underline the navigation links on hover */
 }

 .burger {
   position: relative;
   width: 30px;
   height: 20px;
   background: transparent;
   cursor: pointer;
   display: block;
 }
 
 .burger input {
   display: none;
 }
 
 .burger span {
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: black;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
 }
 
 .burger span:nth-of-type(1) {
   top: 0px;
   transform-origin: left center;
 }
 
 .burger span:nth-of-type(2) {
   top: 50%;
   transform: translateY(-50%);
   transform-origin: left center;
 }
 
 .burger span:nth-of-type(3) {
   top: 100%;
   transform-origin: left center;
   transform: translateY(-100%);
 }
 
 .burger input:checked ~ span:nth-of-type(1) {
   transform: rotate(45deg);
   top: 0px;
   left: 5px;
 }
 
 .burger input:checked ~ span:nth-of-type(2) {
   width: 0%;
   opacity: 0;
 }
 
 .burger input:checked ~ span:nth-of-type(3) {
   transform: rotate(-45deg);
   top: 28px;
   left: 5px;
 }




 