.navbar {
   height: 65px;
   width: 100%;
   position: fixed;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.left,
.right,
.middle {
   display: flex;
}

/* ------------------------------------------------------LEFT--------------------------------------------------------- */

.left {
   flex: 1;
   height: 100%;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0;
   padding-left: 20px;
}

.logo_div {
   width: 100%;
   height: 100%;
   position: relative;
}

.logo {
   position: absolute;
   top: 5px;
}

.burger_div {
   width: 50px;
}

.burger {
   position: relative;
   width: 30px;
   height: 20px;
   background: transparent;
   cursor: pointer;
   display: block;
   margin: 0;
}

.burger input {
   display: none;
}

.burger span {
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: black;
   border-radius: 9px;
   opacity: 1;
   transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
   top: 0%;
   transform-origin: left center;
}

.burger span:nth-of-type(2) {
   top: 50%;
   transform-origin: center center;
}

.burger span:nth-of-type(3) {
   top: 100%;
   transform-origin: left center;
}

.burger input:checked~span:nth-of-type(1) {
   transform: rotate(-45deg) translateX(2px);
   top: 20px;
}

.burger input:checked~span:nth-of-type(2) {
   opacity: 0;
   width: 0%;
}

.burger input:checked~span:nth-of-type(3) {
   transform: rotate(45deg) translateX(2px);
   top: -4px;
}


/* ------------------------------------------------------MIDDLE---------------------------------------------------------- */


.middle {
   height: 100%;
   flex: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}


/* ----------------------------------------------------- RIGHT ------------------------------------------------------------- */


.right {
   flex: 1;
   height: 100%;
   justify-content: flex-start;
   align-items: center;
   margin: 0;

}

.address_div {
   margin-left: 20px;
   width: 150px;
   height: 60px;

   border: 1px solid rgb(182, 182, 182);
   border-radius: 8px;

   display: flex;
   flex-direction: row;
   align-items: center;

   cursor: pointer;
}

.address_div:hover {
   background-color: rgb(244, 244, 244);
}

#address_button {
   height: 50px;
   width: 50px;
   border-radius: 50%;

   background-color: inherit;
   border: none;

   transition: background-color 0.25s ease-in-out;
}

#address_button:hover {
   background-color: rgb(244, 244, 244);
}

#address_button:focus {
   background-color: rgb(219, 219, 219);
   outline: none;
}


.text_div {
   height: 100%;
   width: auto;
   display: flex;
   align-items: center;
}