.sidebar {
   height: 100vh;
   width: 20vw;
  
   top: 65px;
   position: fixed;
   transition: all 0.4s;
   background-color: rgb(236, 236, 236);

}

/* .sidebar {
   height: 100vh; 
   width: 250px; 
   position: fixed;
   background-color: #fff; 
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); 
   display: flex;
   flex-direction: column;
 } */
  
 .sidebar-header {
   padding: 20px;
   text-align: center;
   border-bottom: 1px solid #eaeaea; 
 }
  
 .sidebar-logo {
   width: 50px; 
   height: auto;
   margin-bottom: 10px;
 }
  
 .sidebar-header h1 {
   margin: 10px 0;
   font-size: 1.5em;
 }
  
 .sidebar-header p {
   color: #666;
   font-size: 0.85em;
 }
 
 .sidebar-menu {
   display: flex;
   flex-direction: column;
   height: fit-content;
 }
 
 .menu-item {
    height: 50px;
    align-items: center;
    line-height: 29px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background: transparent;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
    padding: 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
 }
 
 .menu-item:hover {
   background-color: #f4f4f4; 
 }
 
 .icon {
   margin-right: 10px;
   font-size: 1.2em; 
 }
 
 .menu-item.selected {
   /* background-color: rgb(26,128,229); */
 }

 .store_logo {
  width: 56px;
  height: 28px;
  object-fit: contain;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
 }

 .container {
  padding:0;
  width: 20px;
  margin: 0;
  float: right;
  margin-right: 5px;
 }

 .check {
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  width: 24px;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.menu-item:hover .check svg{
  stroke: #4285f4;
}

#cbx:checked + .check svg {
  stroke: #4285f4;
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbx {
  display: none;
}




/* -------------------------------------- */
.sidebar-bottom {
  /* margin-top: auto;  */
  padding: 20px;
  border-top: 1px solid #eaeaea; 
  height: auto;
  overflow-y: scroll;
}

.find-items h2 {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center; 
}

.item-list {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  height: 100vh - 250px; 
  overflow-y: scroll; 
}

.item-list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; 
}

.item-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 3px; 
}

.item-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35); 
}


.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding-right: 20px;  
  border-bottom: 1px solid rgb(165, 165, 165)
}

.item:last-child {
  margin-bottom: 0; 
}

.item-icon {
  width: 50px; 
  height: auto;
  margin-right: 10px;
  border-radius: 8px; 
  transform: translateY(-5px);
}
 
 
.item-info strong {
  display: block;
  color: #333;
  margin-bottom: 0;
}
 
.item-info p {
  font-size: 0.85em;
  color: #666;
  margin-top: 2px;
  line-height: 1.2;
  margin-bottom: 3px;
}
